.footer {
    border-top: 1px solid var(--gray-gray-2);
    background: var(--gray-gray-1);
    padding: 32px 0;
}

.footer-container {
    max-width: 1128px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer__logo-img {
    width: 74px;
    height: 48px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__logo-title {
    font-size: 14px;
    color: var(--gray-gray-6);
}

.footer__info-office__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 155%;
    color: var(--gray-gray-6);

}

.footer__info-office__text {
    font-family: var(--font3);
    font-weight: 700;
    font-size: 12px;
    line-height: 155%;
    color: var(--gray-gray-6);
}

.footer__info-office__link {
    color: var(--blue-blue-9);
}
